*{
text-decoration: none;
font-family: Arial, Helvetica, sans-serif;
color: black;
}

.navbar {
    background-image: url(/Assets/Images/pexels-liger-pham-1108701.jpg);
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
    padding: .5em;
    height: 609px;
}

.navbarNOIMAGE {
  padding: .5em;
}

.navbarNOIMAGE .container {
  display: flex;
  align-items:center;
  justify-content: space-between;
}

.navbar-nav-NOIMAGE {
  display: flex;
  list-style: none;
  padding: 0;
}

.navbar-nav-NOIMAGE li {
  padding: .5em;
  margin: 0 .5em;
}


.nav-bar-brand-NOIMAGE{
  padding-left: 2em;
  font-size: 20px;
}

.navbar .container {
    display: flex;
    align-items:center;
    justify-content: space-between;
}

.navbar-nav {
    display: flex;
    list-style: none;
    padding: 0;
}

.navbar-nav li {
    padding: .5em;
    margin: 0 .5em;
}

.navbar-nav li a{
    color: white;
}

.nav-bar-brand{
    color: white;
    padding-left: 2em;
    font-size: 20px;
}

.hero-motto{
    position: absolute;
    bottom: 100px;
    padding-left: 400px;
color: white;
font-weight: lighter;
font-size: 20px;
}

.container .row .col-6 .about-header{
    margin: 500px;
}

.container .about h1{
    text-align: center;
    padding-top: 2em;
}

.container .about p{
    text-align: center;
    padding-top: 2em;
    width: 500px;
    margin: auto;
}

.container .about .button {
    display: block;
    margin: auto;
    background-color: white;
    border: none;
    padding: 2rem;
}

/* Add this CSS to the existing styles */
.container .image-section {
    text-align: center;
    padding-top: 2em; /* Adjust as needed */
  }
  
  .container .image-section img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
  }
  
  .container .image-section .landscape-image {
    /* Additional styling for the landscape image */
    margin: auto;
    width: 885px;
  }

  /* Add this CSS to the existing styles */
.container .blog-preview {
    text-align: center;
    padding-top: 2em; /* Adjust as needed */
  }
  
  .container .blog-preview .blog-preview-image {
    width: 885px;
    height: auto;
    display: block;
    margin: 0 auto;
  }
  
  .container .blog-preview .blog-preview-content {
    max-width: 600px; /* Adjust as needed */
    margin: 0 auto;
    padding-top: 20px; /* Adjust as needed */
  }
  
  .container .blog-preview .blog-preview-title {
    font-size: 24px; /* Adjust as needed */
    margin-bottom: 10px; /* Adjust as needed */
  }
  
  .container .blog-preview .blog-preview-description {
    font-size: 16px; /* Adjust as needed */
    color: #666; /* Adjust the color as needed */
  }

  footer{
    margin-top: 4em;
    background-color: rgb(15, 15, 15);
    font-size: .8em;
    padding: 2em;
  }
  
  footer p{
    color: white;
    padding-bottom: 20px;
  }

footer a{
    color: white;
    padding-right: 5px;
  }
  
  



